<!DOCTYPE html>


<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div class="container">
    <br>
    {% block content %}{% endblock content %}
	</div>
	
</body>
</html>
