<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8"/>
	<link rel="shortcut icon" href="">
    <script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/main.js" %}" type="text/javascript"></script>
	<title>users_Status</title>
	
</head>
<body>
	<table>
		<tbody>
			<tr>
				<td><span id="userStatus">online</span> </tb>
				<td></td>
				<td>{{form.status}} </td>
				<td><a href="{% url 'index'%}">status</a></td>
			</tr>
		</tbody>
	</table>
</form>
</body>
<script>
    

</script>
</html>