<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8"/>
	<link rel="shortcut icon" href="">
    <script src="{% static "js/jquery-1.12.2.min.js" %}" type="text/javascript"></script>
	<script src="{% static "js/main.js" %}" type="text/javascript"></script>
	<title>users_Status</title>
</head>
<body>
    <span id="userStatus">Offline</span>
    
</body>
<script>
    

</script>
</html>